@font-face {
    src: url(fonts/BebasNeue-Regular.ttf);
    font-family: bebas;
}

*{
    box-sizing: border-box;
    width: 100%;
    color: white;
    font-size: relative;
}


html, body{
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
    height: 48px;
    background: #192a56;
    position: relative;
    font-family: bebas;
    font-size: 30px;
    box-shadow: 0 6px 25px black;
}

section{
    background: #05152e;
    height: 600px;
    font-style: normal;   
    text-align: center;      
}

#f2{
    background:#192a56;
    height: 40px;
    box-shadow: 0 -6px 25px black;
}

#f1{
    background:#05152e;
    height: 40px;
}

header .container {
    position: relative;
    top: 3px;
}

#avatar {
    border-radius: 50%;
}

#b1 {
    position: absolute;
    background-color: #c23616;
    border: none;
    color: white;
    padding: 0px;
    text-align: center;
    text-decoration: none;
    font-family: bebas;
    display: inline-block;
    font-size: 41px;
    margin: -60px 66px;
    width: 61px;
    border-radius: 50%;    
    box-shadow: -5px 5px 20px 0px black;
}

#b2 {
    position: absolute;
    background-color: #c23616;
    border: none;
    color: white;
    padding: 1px;
    text-align: center;
    text-decoration: none;
    font-family: bebas;
    display: inline-block;
    font-size: 26px;
    width: 200px;
    border-radius: 10px;
    margin: 32px -99px;
    box-shadow: -5px 5px 20px 0px black;
}

#b3 {
    position: absolute;
    background-color: #c23616;
    border: none;
    color: white;
    padding: 1px;
    text-align: center;
    text-decoration: none;
    font-family: bebas;
    display: inline-block;
    font-size: 26px;
    width: 200px;
    border-radius: 10px;
    margin: 92px -99px;
    box-shadow: -5px 5px 20px 0px black;
}


section .container{
    position: relative; 
    top:21px;     
    font-size: 26px;
    font-family: 'Raleway', sans-serif;  
}

#c1{
    top: 152px;
    font-size: 15px;
}
