@font-face {
    src: url(fonts/BebasNeue-Regular.ttf);
    font-family: bebas;
}

*{
    width: 100%;
    color: white;
}


html, body{
    margin: 0;
    padding: 0;
}

#h1 {
    text-align: center;
    height: 48px;
    background:#192a56;
    position: relative;
    font-family: bebas;
    font-size: 30px;
}

#h2 {
    text-align: center;
    height: 48px;
    background:#192a56;
    position: relative;
    font-family: bebas;
    font-size: 30px;
}



section{
    position: relative;
    background: #05152e;
    font-style: normal;
    font-family: 'Raleway', sans-serif;  
}

#s1 {
    text-align: center;
    font-size: 25px;
    height: 252px;      
}

#s2 {
    font-size: 50px;
    height: 540px; 
}

#f2 {
    background:#192a56;
    height: 40px;    
    box-shadow: 0 -6px 25px black;
}

#food {
    position: relative;
    border-radius: 50%;
    left: -10px;
}

#c2 {
    position: relative;
    top: 10px;
    left: -98px;
    top: 31px;
}

header .container {
    position: relative;
    top: 3px;
}

#c1{
    position: relative;
    top: 30px;
}