@font-face {
    src: url(fonts/BebasNeue-Regular.ttf);
    font-family: bebas;
}

*{
    box-sizing: border-box;
    width: 100%;
    color: white;
    font-size: relative;
}


html, body{
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
    height: 48px;
    background: #192a56;
    position: relative;
    font-family: bebas;
    font-size: 30px;
    box-shadow: 0 6px 25px black;
}

section{
    background: #05152e;
    height: 582px;
    font-style: normal;
    font-family: 'Raleway', sans-serif;  
}

footer{
    background:#192a56;
    height: 40px;
    box-shadow: 0 -6px 25px black;
}

header .container {
    position: relative;
    top: 3px;
}

#c1 {
    position: relative;
    top: 10px;
}

#button {
    position: relative;
    background-color: #c23616;
    border: none;
    color: white;
    padding: 1px;
    text-align: center;
    text-decoration: none;
    font-family: bebas;
    display: inline-block;
    font-size: 26px;
    width: 200px;
    border-radius: 10px;
    top: 4px;
    box-shadow: -5px 5px 20px 0px black;
}

#bt{
    text-align: center;
}

#c2 {
    position: relative;
    top: 25px;
    text-align: center;
}
